@media screen and (max-width: 576px) {
  .navMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navMain ul {
    display: none;
  }
  .hambur {
    display: block;
    font-size: xx-large;
  }
  .headerMain {
    flex-direction: column;
    align-items: center;
    width: 80%;
    justify-content: center;
  }
  .headerContent h1 {
    font-size: 60px;
    text-align: center;
    text-align: start;
    margin-left: 20px;
  }
  .headerContent p {
    font-size: 20px;
    text-align: center;
    text-align: start;
    margin-right: 20px;
    margin-left: 20px;
  }
  .headerContentButton {
    text-align: center;
    margin-left: 10px;
    display: flex;
  }
  .headerPictureTxt1 {
    position: relative;
    width: 60%;
    top: -550px;
    left: 190px;
  }
  .headerPictureTxt2 {
    position: relative;
    width: 60%;
    top: -500px;
    left: 5px;
  }
  .serviceSection {
    margin-top: -250px;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  .ServiceSectionMain {
    width: 80%;
  }
  .serviceSectionContent {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .runSectionHead {
    flex-direction: column;
    align-items: center;
    width: 80%;
    justify-content: center;
  }
  .runSectionImg {
    margin-top: 30px;
    height: 250px;
    width: 100%;
  }
  .runSectionContent p {
    margin: 10px 0;
  }
  .trainingSectionHead {
    align-items: center;
    width: 80%;
    justify-content: center;
  }

  .trainingSectionFlex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .trainingSectionFlex2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #img2,
  #img6 {
    display: none;
  }
  #img4 {
    grid-column: span 1;
  }
  #img4 p {
    top: 130px;
    left: 20px;
  }
  /* BMI Sectioooooooooooooooon */
  .bmiHeading h1 {
    font-size: 30px;
  }
  .BmiSection {
    width: 100%;
  }
  .FormFullSection {
    flex-direction: column;
    width: 100%;
  }
  .chart-container {
    /* border: 5px solid saddlebrown; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .chart-container h1 {
    padding-left: 50px;
  }
  .FormSection {
    /* border: 5px solid saddlebrown; */
    width: 80%;
    padding-top: 50px;
  }
  .chart-container h1 {
    font-size: 23px;
  }
  .formContent h1 {
    font-size: 25px;
  }
  /* Team Sectin */
  .teamSection {
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  .teamSectionMain {
    width: 80%;
  }
  .teamSectionHead {
    margin-left: 0;
  }
  .teamSectionImg1,
  .teamSectionImg2 {
    grid-template-columns: 1fr;
    margin-bottom: 20px;
  }
  /* TestimoniSection */
  .testimoniCard {
    width: 80%;
    margin: 0 auto;
  }
  .testimoniHeadCard {
    flex-direction: column;
    gap: 80px;
  }
  /* TestimoniSection */
  .footerSection {
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
  }
  .footerSectionHead {
    padding-bottom: 40px;
  }
  .footerSectionFlex {
    grid-template-columns: 1fr;
    align-items: center;
    text-align: start;
    justify-content: start;
  }
}
