@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");

html {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
  /* width: 100%; */
  /* border: 5px solid rgb(95, 2, 134); */
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
}
.navMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  text-align: center;
  /* border: 5px solid sienna; */
}
.navMain ul {
  display: flex;
  list-style: none;
  gap: 60px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  font-size: 20px;
  font-weight: 600;
  padding: 2px;
  border-radius: 20px;
  align-items: center;
  padding-right: 10px;
}
.navMain ul li {
  cursor: pointer;
}
.navMain ul .home {
  background-color: red;
  border-radius: 20px;
  padding: 6px 20px 6px 15px;
}
.navMain h2 {
  color: rgb(230, 83, 60);
  font-family: Inter;
  font-size: 36px;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 0%;
  /* text-align: left; */
  font-style: italic;
}
/* header Section */
.headerSection {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.headerMain {
  display: flex;
  justify-content: space-between;
  width: 80%;
  text-align: center;
  align-items: center;
  margin-top: 25px;
  /* border: 5px solid khaki; */
}
.headerContent h1 {
  font-size: 80px;
  font-weight: 1000;
  margin-top: 45px;
  margin-bottom: 50px;
}
.headerContentButton {
  margin-top: 30px;
}
button {
  margin-right: 15px;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid rebeccapurple;
  padding: 2px;
}
.btn1 {
  padding: 10px;
  background-color: rgba(230, 83, 60, 1);
  border-radius: 25px;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
  color: white;
}
.btn2 {
  padding: 10px;
  cursor: pointer;
  border-radius: 25px;
  padding-right: 20px;
  padding-left: 20px;
}
.headerPictureTxt1 {
  text-align: center;
  width: 200px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  position: absolute;
  top: 250px;
  right: 60px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
}
.headerPictureTxt1 h1 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: -10px;
}
.headerPictureTxt2 {
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  width: 200px;
  border-radius: 12px;
  position: absolute;
  top: 530px;
  right: 410px;
}
.headerPictureTxt2 h1 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: -10px;
}
.headerPictureTxt2 span {
  background-color: rgba(234, 50, 50, 0.979);
  padding: 10px 18px;
  border-radius: 50%;
  position: relative;
  left: -70px;
  top: 8px;
}

/* serviceSection */

.serviceSection {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.ServiceSectionMain {
  width: 80%;
  padding-bottom: 100px;
}
.serviceSectionHead {
  text-align: center;
  align-items: center;
}
.serviceSectionHead h1 {
  font-size: 50px;
  font-weight: 700;
}
.serviceSectionHead p {
  margin-top: -25px;
  margin-bottom: 55px;
  color: rgb(99, 87, 89);
}
.serviceSectionContent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.serviceSectionPictureItem img {
  border-radius: 50%;
}
/* Run Section   */
.runSection {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.runSectionHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 80%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba(29, 25, 25, 0.902);
  border-radius: 10px;
}
.runSectionImg img {
  border-radius: 10px;
}
.runSectionContent h1 {
  font-size: 50px;
  font-weight: 900;
  text-align: start;
  margin-left: 50px;
}
.runSectionContent p {
  margin-top: -30px;
  text-align: start;
  margin-left: 50px;
  margin-bottom: 40px;
  color: rgb(99, 87, 89);
}
.joinbtn {
  padding: 10px 50px;
  background-color: rgba(230, 83, 60, 1);
  border-radius: 25px;

  cursor: pointer;
  color: white;
}
/* trainingSectionHead */
.trainingSection {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.trainingSectionHead {
  width: 80%;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 10px;
}
.trainingSectionContent h1 {
  font-size: 50px;
  font-weight: 800;
  text-align: start;
}
.trainingSectionContent p {
  margin-bottom: 20px;
  color: rgb(99, 87, 89);
  text-align: start;
}
.trainingSectionimgItem p {
  position: relative;
  top: -100px;
}
.trainingSectionFlex {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.trainingSectionimgItem {
  height: 200px;
  gap: 50px;
}
#img1 {
  background: linear-gradient(
      45deg,
      rgba(6, 255, 210, 0.5),
      rgba(6, 255, 210, 0.5)
    ),
    url(images/exercise1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#img1 p {
  position: relative;
  color: #000;
  top: 150px;
  font-weight: 600;
  left: -50px;
}
#img2 {
  background: linear-gradient(45deg, rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3)),
    url(images/exercise2.png);
  grid-column: span 2;
  background-repeat: no-repeat;
  background-size: cover;
}
#img2 p {
  position: relative;
  color: #ffff;
  top: 20px;
  left: -180px;
  font-weight: 600;
}
#img3 {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/exercise3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#img3 p {
  position: relative;
  color: #ffff;
  top: 120px;
  left: 20px;
  font-weight: 600;
}
.trainingSectionFlex2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
#img4 {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/exercise4.png);
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: span 2;
}
#img4 p {
  position: relative;
  color: #ffff;
  top: 20px;
  left: 100px;
  font-weight: 600;
}
#img5 {
  background: linear-gradient(
      45deg,
      rgba(66, 255, 0, 0.3),
      rgba(66, 255, 0, 0.3)
    ),
    url(images/exercise5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#img5 p {
  position: relative;
  color: #ffff;
  top: 130px;
  font-weight: 600;
  left: 10px;
}
#img6 {
  background: linear-gradient(
      45deg,
      rgba(0, 71, 255, 0.3),
      rgba(0, 71, 255, 0.3)
    ),
    url(images/exercise6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: span 2;
}
#img6 p {
  position: relative;
  color: #ffff;
  top: 130px;
  left: 20px;
  font-weight: 600;
}

/* BMI Section */
.bmiHeading {
  width: 74%;
  margin: 0 auto;
}
.bmiHeading h1 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.bmiHeading p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
}
/* fkgjdfklg */

/* Tableeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee */
.FullBMISection {
  background-color: #2e2e2e;
  padding-bottom: 50px;
}
.BmiSection {
  display: flex;
  padding-top: 50px;
  width: 80%;
  margin: 0 auto;
}
.FormFullSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chart-container {
  text-align: center;
  width: 47%;
  align-items: center;
}
h1 {
  font-size: 2em;
  margin-bottom: 20px;
}
table {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-collapse: collapse;
}
th,
td {
  padding: 15px;
  border: 1px solid #555;
}
th {
  background-color: #333;
  font-weight: bold;
}
td {
  background-color: #2e2e2e;
}

/* Form */
.FormSection {
  width: 50%;
}
.formContent p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
}
.form1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.Form {
  width: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
}
#Form {
  width: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 15px;
}
input[type="text"] {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 10px;
  font-size: 16px;
}
input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.form2 {
  display: flex;
  justify-content: space-between;
}
select {
  background-color: #2e2e2e;
  color: rgba(255, 255, 255, 0.6);
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
}
select option {
  background-color: #2e2e2e;
  color: rgba(255, 255, 255, 0.6);
}
#FormBtn {
  border-radius: 42px;
  background: rgb(230, 83, 60);
  padding: 15px 50px;
  font-size: 20px;
  margin-top: 10px;
  color: #ffff;
  cursor: pointer;
}

/* jfdsgdjg */
/* Team Section */
.teamSection {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.teamSectionMain {
  width: 80%;
  padding-bottom: 100px;
}
.teamSectionContent {
  text-align: center;
  align-items: center;
}
.teamSectionContent h1 {
  font-size: 50px;
  font-weight: 900;
}
.teamSectionContent p {
  color: rgb(99, 87, 89);
  /* margin-bottom: 50px; */
}
.teamSectionHead {
  width: 100%;
  padding-top: 40px;
  background-color: rgba(29, 25, 25, 0.902);
  border-radius: 10px;
}

.teamSectionImg1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.teamimg {
  min-height: 275px;
  border-radius: 5px;
  justify-content: space-around;
}
#teamimg1 {
  background: teal;
  background-image: url(images/trainer1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#teamimg2 {
  background: fuchsia;
  background-image: url(images/trainer2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#teamimg3 {
  background: darkgoldenrod;
  background-image: url(images/trainer3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.teamSectionImg2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
}
#teamimg4 {
  background: sienna;
  background-image: url(images/trainer4.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#teamimg5 {
  background: violet;
  background-image: url(images/trainer5.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#teamimg6 {
  background: lawngreen;
  background-image: url(images/trainer6.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.imgtext {
  margin-top: 200px;
  text-align: start;
}

/* TestimoniSection */
.TestiHeadTitle {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 80px;
}
.TestiHeadTitle h1 {
  font-size: 55px;
  font-weight: 800;
}
.TestiHeadTitle p {
  color: rgba(255, 255, 255, 0.622);
  margin: 10px 0px;
}

.testimoniCard {
  width: 33%;
  text-align: center;
  align-items: center;
}

.testiImg {
  position: relative;
  bottom: 65px;
  display: flex;
  justify-content: center;
  width: 100%;
}

#testiImg1 img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  overflow: hidden;
}
.testimoniCard:hover {
  border: 1px solid rgba(10, 85, 233, 0.902);
  border-radius: 10px;
  text-decoration: none;
}
.testiCardName {
  margin-top: -50px;
}
.testiCardName p {
  padding: 18px 0 25px 0;
  color: rgba(255, 255, 255, 0.622);
}
.testimoniHeadCard {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.TestiMainComment {
  padding: 40px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.622);
}

/* TestimoniSection */
/* FooooooooooooTeeeeeeeeeeeeeeeeer */
footer {
  background-color: rgba(29, 25, 25, 0.902);
}
.footerSection {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.footerSectionHead {
  width: 80%;
}

.footerSectionFlex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  align-items: center;
  text-align: start;
}
.footerSectionFlex h2 {
  font-size: 15px;
  cursor: pointer;
}
.footerText1 h1 {
  font-size: 50px;
  font-weight: 900;
  color: red;
  font-style: italic;
}

.copyright {
  text-align: center;
  color: rgb(99, 87, 89);
}
.hambur {
  display: none;
}
/* Let's Make it Responsive for small device */
